@import "variables";

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  color: $txt-color;
  background-color: #f6f6f6;
  overflow-y: scroll;
}

section {
  margin: 60px 0;
}

.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 26px;
  color: $base-color;
  padding: 20px 0;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 1px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 2px;
    background: $base-color;
  }
}

.description {
  font-size: 15px;
  color: $sub-txt-color;
}
