$base-color: #2581b9;
$base-color-light: #e9f0fd;
$base-color-hover: #1e6793;
$second-color: #003f8f;
$second-color-hover: #833AB4;
$txt-color: #111111;
$sub-txt-color: #5e5e5e;
$success-color: #538f4b;
$danger-color: #bb4545;
$wait-color: #674596;
